.phone-call {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #dd7973;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 3px;
    border-radius: 50%;
    transition: 0.5s;
    text-align: center;
    svg {
      margin-left: -1px;
      color: #FFFFFF;
    }
}

.scroll-up {
  bottom: 50px;
}

#intro {
  padding-top: 80px;
  @media (max-width: 800px) {
    display: none;
  }
}

.intro-section {
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

#about-us {
  padding-top: 40px;
  @media (max-width: 800px) {
    padding-top: 140px;
  }
}

.about-us {
  text-align: center;
  h2 {
    font-size: 48px;
    margin-bottom: 12px;
  }
  & > p {
    font-size: 20px;
    margin-bottom: 32px;
    span {
      text-decoration: underline;
      font-weight: 700;
      color: rgb(25, 123, 255);
    }
  }
  & > iframe {
    display: none;
  }
  @media (max-width: 800px) {
    & > iframe {
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 24px;
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 32px;
    }
    & > p {
      font-size: 18px;
    }
  }
}

.mobile-text {
  display: none;
}
@media (max-width: 800px) {
  .mobile-text {
    display: block;
  }
  .desktop-text {
    display: none;
  }
}

.location-info-box {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  column-gap: 180px;
  border: 1px solid #232536;
  border-radius: 8px;
  text-align: center;

  @media (max-width: 963px) {
    column-gap: 50px;
    border: none;
  }
  @media (max-width: 800px) {
    padding: 20px;
    flex-direction: column;
    row-gap: 40px;
  }
}

.location-info {
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: rgb(25, 123, 255);
  }
  p {
    font-size: 18px;
  }
}

#room-info-mobile {
  display: none;
}

#room-info, #room-info-mobile {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  #room-info {
    display: none;
  }
  #room-info-mobile {
    display: block;
  }
}

.room-info-title {
  font-size: 32px;
  margin-bottom: 24px;
  @media (max-width: 500px) {
    font-size: 24px;
  }
}

.room-img {
  p {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: rgb(25, 123, 255);
  }
  img {
    width: 100%;
    height: 250px;
    object-position: 100% 70%;
    object-fit: cover;
  }
}

.room-description {
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  p {
    margin-bottom: 8px;
  }
  margin-bottom: 48px;
}

.reviews {
  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 24px;
    }
  }
  iframe {
    width: 100%;
    height: 100vh;
  }
}

#gallery {
  padding-top: 80px;
  @media (max-width: 763px) {
    padding-top: 40px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  &-image {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 763px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    &-image {
      img {
        height: 250px;
      }
    }
    gap: 4px;
  }
}
#location {
  padding-top: 80px;
  padding-bottom: 80px;
}

.location {
  iframe {
    width: 100%;
    height: 500px;
  }
  text-align: center;
  &-button {
    padding: 12px 32px;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
    border-radius: 6px;
    color: #ffffff;
    background-color: rgb(25, 123, 255);
  }
  @media (max-width: 500px) {
    iframe {
      height: 300px;
    }
  }
}

#services {
  padding-top: 80px;
}

.services-title {
  font-size: 32px;
  margin-bottom: 24px;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    svg {
      font-size: 24px;
      color: rgb(25, 123, 255);
    }
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    text-align: left;
    p {
      justify-content: flex-start;
      flex-direction: row;
      row-gap: 12px;
    }
  }
}


