@import '~mdb-ui-kit/css/mdb.min.css';

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232536;
  z-index: 1000;
}
.navbar {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  &-logo {
    h1 {
      font-size: 24px;
      margin: 0;
      color: #ffffff;
    }
  }
  &-items {
    display: flex;
    column-gap: 80px;
  }
  &-links {
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin: 0;
    margin-right: 40px;
  }
  &-link {
    color: #ffffff;
    transition: 0.5s;
    svg {
      font-size: 24px;
    }
    &:hover {
      color: #dd7973;
    }
  }
  &-link.social-medias,
  &-link.phone-number{
    display: none;
  }
  &-close-button {
    position: absolute;
    top: 24px;
    right: 20px;
  }
  &-close-button,
  &-hamburger {
    background-color: transparent;
    svg {
      font-size: 32px;
      fill: #ffffff;
    }
    display: none;
  }
  @media (max-width: 800px) {
    &-links {
      position: fixed;
      top: 0%;
      right: -100%;
      width: 60%;
      height: 100%;
      flex-direction: column;
      padding-top: 70px;
      margin-right: 0;
      background-color: #ffffff;
      transition: 0.8s;
      a {
        width: 100%;
      }
    }
    &-link {
      padding: 24px 0;
      width: 100%;
      color: #232536;
      border-bottom: 1px solid #ccc;
      svg {
        font-size: 30px;
      }
      a {
        color: #232536;
      }
    }
    &-link.instagram,
    &-link.telegram,
    &-link.number{
      display: none;
    }
    &-link.social-medias,
    &-link.phone-number {
      display: flex;
      column-gap: 14px;
    }
    &-button {
      margin-top: 20px;
      color: #ffffff;
      background-color: #232536;
      &:hover {
        background-color: #232536;
      }
    }
    &-open {
      right: 0;
    }
    &-close-button,
    &-hamburger {
      display: block;
    }
    &-close-button {
      svg {
        fill: #232536;
      }
    }
  }
}

select {
  padding: 2px 8px;
  appearance: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}


.flag-icon {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 35px; /* Adjust the size as needed */
  height: 25px;
  background-size: cover;
  background-position: center;
  @media (max-width: 800px) {
    position: static;
    // top: calc(20% + 56px);
    // left: calc(40% + 50px);
    margin-top: -15px;
    margin-left: 150px;
  }
}
.flag-icon.ru {
  background-image: url('https://flagcdn.com/ru.svg');
}
.flag-icon.en {
  background-image: url('https://flagcdn.com/gb.svg');
}
.flag-icon.uz {
  background-image: url('https://flagcdn.com/uz.svg');
}


